@model PassportManagementSystem.Models.ApplicantDetails
@{
    ViewBag.Title = "Application Status";
    PassportManagementSystem.Models.ApplicantDetails details = (PassportManagementSystem.Models.ApplicantDetails)ViewBag.data;
    <link href="~/Styles/ApplicationStatus.css" rel="stylesheet" />
}
<h3 class="title-register">APPLICATION STATUS</h3>
<div class="register-form">
    @using (Html.BeginForm())
    {
        if (Model != null)
        {
            <div style="margin-left:55%;margin-top:0%;position:absolute">
                <img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.passports.Photo))" width="250" height="250" alt="@Model.users.FirstName+_+@Model.users.LastName" />
            </div>
            <table class="table">
                <tr style="font-size:x-large">
                    <th>Application Status</th>
                    <td>
                        @if (Model.passports.Status == "Approved")
                        {
                            <strong style="color:green">@Html.DisplayFor(a => a.passports.Status)</strong>
                        }
                        else if (Model.passports.Status == "Rejected")
                        {
                            <strong style="color:red">@Html.DisplayFor(a => a.passports.Status)</strong>
                        }
                        else
                        {
                            <strong style="color: blue">@Html.DisplayFor(a => a.passports.Status)</strong>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Comments by Passport Officer</th>
                    <td>@Html.TextAreaFor(a => a.passports.Comments, new { @class = "form-control", @readonly = true })</td>
                </tr>
                <tr>
                    <th>User ID</th>
                    <td>@Html.DisplayFor(a => a.users.UserID)</td>
                </tr>
                <tr>
                    <th>Passport Number</th>
                    <td>@Html.DisplayFor(a => a.passports.PassportNumber)</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>@Html.DisplayFor(a => a.users.FirstName)</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>@Html.DisplayFor(a => a.users.LastName)</td>
                </tr>
                <tr>
                    <th>Date Of Birth</th>
                    <td>@Convert.ToDateTime(Model.users.DateOfBirth).ToString("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <th>Contact Number</th>
                    <td>@Html.DisplayFor(a => a.users.ContactNumber)</td>
                </tr>
                <tr>
                    <th>Email ID</th>
                    <td>@Html.DisplayFor(a => a.users.EmailAddress)</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>@Html.DisplayFor(a => a.users.Address)</td>
                </tr>
                <tr>
                    <th>Country</th>
                    <td>@Html.DisplayFor(a => a.passports.Country)</td>
                </tr>
                <tr>
                    <th>State</th>
                    <td>@Html.DisplayFor(a => a.passports.State)</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>@Html.DisplayFor(a => a.passports.City)</td>
                </tr>
                <tr>
                    <th>ZIP</th>
                    <td>@Html.DisplayFor(a => a.passports.Zip)</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>@Html.DisplayFor(a => a.users.Gender)</td>
                </tr>
                <tr>
                    <th>Citizen Type</th>
                    <td>@Html.DisplayFor(a => a.users.CitizenType)</td>
                </tr>
                <tr>
                    <th>Type Of Service</th>
                    <td>@Html.DisplayFor(a => a.passports.TypeOfService)</td>
                </tr>
                <tr>
                    <th>Booklet Type</th>
                    <td>@Html.DisplayFor(a => a.passports.BookletType)</td>
                </tr>
                <tr>
                    <th>Application Date</th>
                    <td>@Convert.ToDateTime(Model.passports.IssueDate).ToString("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <th>Reason for ReIssue</th>
                    <td>@Html.DisplayFor(a => a.passports.ReasonForReIssue)</td>
                </tr>
                <tr>
                    <th>Proof Of Citizenship</th>
                    <td>
                        @Html.ActionLink("Proof_Of_Citizenship_" + Model.users.UserID + ".pdf", "DownloadFile", "PassportManagementSystem", new { userID = Model.users.UserID, identifier = "POC" }, null)
                    </td>
                </tr>
                <tr>
                    <th>Birth Certificate</th>
                    <td>
                        @Html.ActionLink("Birth_Certificate_" + Model.users.UserID + ".pdf", "DownloadFile", "PassportManagementSystem", new { userID = Model.users.UserID, identifier = "BC" }, null)
                    </td>
                </tr>
            </table>
        }
        else
        {
            <strong>Click on the link to apply the passport: @Html.ActionLink("Apply Passport", "ApplyPassport", "PassportManagementSystem", null, new { @class = "nav-link" })</strong>
        }
      }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
