@model PassportManagementSystem.Models.UserRegistration
@{
    ViewBag.Title = "Forgot Password";
    <link href="~/Styles/ForgotPassword.css" rel="stylesheet" />
}

<h3 class="title-register">FORGOT PASSWORD</h3>
<div style="float:right;color:red;font-weight:bold;margin-right:10%;">* All Fields are Required</div>
<div class="register-form">
    <center>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="form-group">
                    @Html.TextBoxFor(a => a.EmailAddress, new { @class = "form-control", @placeholder = "EmailID  abc@gmail.com *" })
                    @Html.ValidationMessageFor(a => a.EmailAddress, "", new { @class = "text-danger" })
                </div>
                @Html.DropDownListFor(a => a.SecurityQuestion, new List<SelectListItem> {
                           new SelectListItem { Value = "What is your Pet name ?" , Text = "What is your Pet name ?" },
                           new SelectListItem { Value = "What is your Mother's name ?" , Text = "What is your Mother's name ?" },
                           new SelectListItem { Value = "What is your Favourite Movie ?" , Text = "What is your Favourite Movie ?" }
                        }, "-- Select Security Question which is selected while regestering -- *", new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.SecurityQuestion, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(a => a.SecurityAnswer, new { @class = "form-control", @placeholder = "Answer the above Security Question *" })
                @Html.ValidationMessageFor(a => a.SecurityAnswer, "", new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-primary" value="SUBMIT" style="margin-top:3%;" />
        }
        @if (ViewBag.error != null)
        {
            <div class="alert alert-dismissible alert-danger" style="position:absolute;margin-top:3%;margin-left:5%;width:32%;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span>@ViewBag.error</span>
            </div>
        }
    </center>
</div>
